# Life cycle of a Data Science Project
- Exploratory data analysis
- Feature Engineering 
- Feature Scaling 
- Model Creation (hyperpatameter tuning)
- Model Deployment

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
trainDf = pd.read_csv('train.csv')

In [3]:
trainDf.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
trainDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [5]:
testDf = pd.read_csv('test.csv')

In [6]:
testDf.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [7]:
trainDf.shape

(7613, 5)

In [8]:
testDf.shape

(3263, 4)

In [9]:
totalDf = pd.concat([trainDf, testDf], axis=0)

In [10]:
totalDf.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1.0
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1.0
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1.0
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1.0
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1.0

In [11]:
totalDf.shape

(10876, 5)

In [14]:
totalDf.isnull().sum()

id             0
keyword       87
location    3638
text           0
target      3263
dtype: int64

In [15]:
trainDf.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [16]:
testDf.isnull().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

In [37]:
len(totalDf['location'].unique())

4522

In [38]:
len(totalDf['keyword'].unique())

222

In [46]:
totalDf.keyword.value_counts().sort_values(ascending=False)

ablaze                   50
armageddon               50
body%20bagging           50
body%20bag               50
blown%20up               50
                         ..
forest%20fire            24
threat                   16
radiation%20emergency    14
inundation               14
epicentre                13
Name: keyword, Length: 221, dtype: int64

In [49]:
totalDf.location.value_counts().sort_values(ascending=True)

somewhere or other       1
518                      1
eARth 3                  1
Catalonia, Spain         1
NYHC                     1
                      ...
London                  58
United States           65
New York               109
USA                    141
missing               3638
Name: location, Length: 4522, dtype: int64