# Life cycle of a Data Science Project
- ~~Gather Data~~
- ~~Exploratory data analysis~~
- Feature Engineering 
- Feature Scaling 
- Model Creation
- Hyperpatameter tuning
- Model Deployment
- Model Training

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
trainDf = pd.read_csv('train.csv')

In [3]:
trainDf.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
trainDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [5]:
testDf = pd.read_csv('test.csv')

In [6]:
testDf.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [7]:
trainDf.shape

(7613, 5)

In [8]:
testDf.shape

(3263, 4)

In [9]:
totalDf = pd.concat([trainDf, testDf], axis=0)

In [10]:
totalDf.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1.0
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1.0
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1.0
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1.0
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1.0

In [11]:
totalDf.shape

(10876, 5)

In [12]:
totalDf.isnull().sum()

id             0
keyword       87
location    3638
text           0
target      3263
dtype: int64

In [13]:
trainDf.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [14]:
testDf.isnull().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

In [15]:
len(totalDf['location'].unique())

4522

In [16]:
(totalDf['location']=='Belgium').sum()

2

In [17]:
totalDf

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1.0
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1.0
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1.0
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1.0
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1.0
...,...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,NaN
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...,NaN
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...,NaN
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...,NaN
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...,NaN

In [18]:
totalDf['location'][0]

0    NaN
0    NaN
Name: location, dtype: object

In [19]:
totalDf['location'].fillna('Missing', inplace=True)

In [20]:
fl = []

for tl in totalDf['location']:
   
    #a = tl#.split(',')
    # fl.append((a[-1].replace(' ','')).lower())
    fl.append(tl.lower())

In [21]:
fl[34]

'philadelphia, pa'

In [22]:
totalDf['location'] = fl

In [23]:
totalDf['location'].replace('world Wide!!', 'worldwide', inplace=True)
totalDf['location'].replace('everywhere', 'worldwide', inplace=True)
totalDf['location'].replace('earth', 'worldwide', inplace=True)
totalDf['location'].replace('world', 'worldwide', inplace=True)

totalDf['location'].replace('london', 'england', inplace=True)
totalDf['location'].replace('unitedkingdom', 'uk', inplace=True)
totalDf['location'].replace('united kingdom', 'uk', inplace=True)
totalDf['location'].replace('unitedstates', 'usa', inplace=True)
totalDf['location'].replace('los angeles, ca', 'los angeles', inplace=True)
totalDf['location'].replace('nyc', 'new york', inplace=True)
totalDf['location'].replace('new york, ny', 'new york', inplace=True)
totalDf['location'].replace('california, usa', 'california', inplace=True)
totalDf['location'].replace('united states', 'usa', inplace=True)
totalDf['location'].replace('san francisco, ca', 'san francisco', inplace=True)
totalDf['location'].replace('chicago, il', 'chicago', inplace=True)
totalDf['location'].replace('washington, d.c.', 'washington', inplace=True)
totalDf['location'].replace('washington, dc', 'washington', inplace=True)
totalDf['location'].replace('seattle', 'washington', inplace=True)
totalDf['location'].replace('seattle, wa', 'washington', inplace=True)
totalDf['location'].replace('atlanta, ga', 'atlanta georgia', inplace=True)

topKeyword = totalDf.keyword.value_counts().sort_values(ascending=False).sample(n=10, random_state=33).to_dict()

type(topKeyword)

topKeyword

In [24]:
topLocation = totalDf.location.value_counts().sort_values(ascending=False).head(11).to_dict()
topLocation

{'missing': 3638,
 'usa': 208,
 'new york': 161,
 'worldwide': 102,
 'washington': 79,
 'england': 73,
 'los angeles': 63,
 'uk': 62,
 'california': 47,
 'canada': 46,
 'nigeria': 44}

In [25]:
topLocation.pop('missing')

3638

In [26]:
len(topLocation)

10

In [27]:
type(topLocation)

dict

In [28]:
topLocation

{'usa': 208,
 'new york': 161,
 'worldwide': 102,
 'washington': 79,
 'england': 73,
 'los angeles': 63,
 'uk': 62,
 'california': 47,
 'canada': 46,
 'nigeria': 44}

In [29]:
def handleCat(topCol):
    for tl in topCol.keys():
        totalDf[tl] = np.where(totalDf['location'] == tl, 1, 0)

In [30]:
handleCat(topLocation)
# handleCat(topKeyword)

In [31]:
totalDf[24:38]

,id,keyword,location,text,target,usa,new york,worldwide,washington,england,los angeles,uk,california,canada,nigeria
24,36,NaN,missing,LOOOOOOL,0.0,0,0,0,0,0,0,0,0,0,0
25,37,NaN,missing,No way...I can't eat that shit,0.0,0,0,0,0,0,0,0,0,0,0
26,38,NaN,missing,Was in NYC last week!,0.0,0,0,0,0,0,0,0,0,0,0
27,39,NaN,missing,Love my girlfriend,0.0,0,0,0,0,0,0,0,0,0,0
28,40,NaN,missing,Cooool :),0.0,0,0,0,0,0,0,0,0,0,0
29,41,NaN,missing,Do you like pasta?,0.0,0,0,0,0,0,0,0,0,0,0
30,44,NaN,missing,The end!,0.0,0,0,0,0,0,0,0,0,0,0
31,48,ablaze,birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1.0,0,0,0,0,0,0,0,0,0,0
32,49,ablaze,est. september 2012 - bristol,We always try to bring the heavy. #metal #RT h...,0.0,0,0,0,0,0,0,0,0,0,0
33,50,ablaze,africa,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1.0,0,0,0,0,0,0,0,0,0,0
34,52,ablaze,"philadelphia, pa",Crying out for more! Set me ablaze,0.0,0,0,0,0,0,0,0,0,0,0
35,53,ablaze,"london, uk",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0.0,0,0,0,0,0,0,0,0,0,0
36,54,ablaze,pretoria,@PhDSquares #mufc they've built so much hype a...,0.0,0,0,0,0,0,0,0,0,0,0
37,55,ablaze,world wide!!,INEC Office in Abia Set Ablaze - http://t.co/3...,1.0,0,0,0,0,0,0,0,0,0,0

In [32]:
totalDf.drop(['id', 'location'], axis=1, inplace=True)

In [33]:
totalDf.head()

,keyword,text,target,usa,new york,worldwide,washington,england,los angeles,uk,california,canada,nigeria
0,NaN,Our Deeds are the Reason of this #earthquake M...,1.0,0,0,0,0,0,0,0,0,0,0
1,NaN,Forest fire near La Ronge Sask. Canada,1.0,0,0,0,0,0,0,0,0,0,0
2,NaN,All residents asked to 'shelter in place' are ...,1.0,0,0,0,0,0,0,0,0,0,0
3,NaN,"13,000 people receive #wildfires evacuation or...",1.0,0,0,0,0,0,0,0,0,0,0
4,NaN,Just got sent this photo from Ruby #Alaska as ...,1.0,0,0,0,0,0,0,0,0,0,0

In [34]:
totalDf.isnull().sum()

keyword          87
text              0
target         3263
usa               0
new york          0
worldwide         0
washington        0
england           0
los angeles       0
uk                0
california        0
canada            0
nigeria           0
dtype: int64

In [35]:
totalDf.shape

(10876, 13)

In [36]:
finalTrain = totalDf.iloc[:-3263,:]

In [37]:
finalTrain.shape

(7613, 13)

In [38]:
finalTrain.tail()

,keyword,text,target,usa,new york,worldwide,washington,england,los angeles,uk,california,canada,nigeria
7608,NaN,Two giant cranes holding a bridge collapse int...,1.0,0,0,0,0,0,0,0,0,0,0
7609,NaN,@aria_ahrary @TheTawniest The out of control w...,1.0,0,0,0,0,0,0,0,0,0,0
7610,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1.0,0,0,0,0,0,0,0,0,0,0
7611,NaN,Police investigating after an e-bike collided ...,1.0,0,0,0,0,0,0,0,0,0,0
7612,NaN,The Latest: More Homes Razed by Northern Calif...,1.0,0,0,0,0,0,0,0,0,0,0

In [39]:
finalTest = totalDf.iloc[-3263:,:]

In [40]:
finalTest.head()

,keyword,text,target,usa,new york,worldwide,washington,england,los angeles,uk,california,canada,nigeria
0,NaN,Just happened a terrible car crash,NaN,0,0,0,0,0,0,0,0,0,0
1,NaN,"Heard about #earthquake is different cities, s...",NaN,0,0,0,0,0,0,0,0,0,0
2,NaN,"there is a forest fire at spot pond, geese are...",NaN,0,0,0,0,0,0,0,0,0,0
3,NaN,Apocalypse lighting. #Spokane #wildfires,NaN,0,0,0,0,0,0,0,0,0,0
4,NaN,Typhoon Soudelor kills 28 in China and Taiwan,NaN,0,0,0,0,0,0,0,0,0,0

In [41]:
finalTrain.to_csv('finalTrain.csv', index=False)
finalTest.to_csv('finalTest.csv', index=False)