In [32]:
import tensorflow as tf
import numpy as np
import pandas as pd 
from tensorflow.keras.layers import Dense, LSTM,Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot
import nltk
import re 
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.model_selection import train_test_split

tf.__version__

'2.7.0'

In [2]:
vocSize = 5000

# One hot represtation

In [3]:
dataset = pd.read_csv('finalTrain.csv')
df = pd.read_csv('finalTest.csv')

In [4]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Muhammad
[nltk_data]     Nur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
dataset.head()

,keyword,text,target,usa,new york,worldwide,washington,england,los angeles,uk,california,canada,nigeria
0,NaN,Our Deeds are the Reason of this #earthquake M...,1.0,0,0,0,0,0,0,0,0,0,0
1,NaN,Forest fire near La Ronge Sask. Canada,1.0,0,0,0,0,0,0,0,0,0,0
2,NaN,All residents asked to 'shelter in place' are ...,1.0,0,0,0,0,0,0,0,0,0,0
3,NaN,"13,000 people receive #wildfires evacuation or...",1.0,0,0,0,0,0,0,0,0,0,0
4,NaN,Just got sent this photo from Ruby #Alaska as ...,1.0,0,0,0,0,0,0,0,0,0,0

In [6]:
X = dataset.drop('target',axis=1)
y = dataset['target']

In [7]:
X.shape

(7613, 12)

## Dataset preprosessing

In [8]:

ps = PorterStemmer()
corpusTrain= []
corpusTest= []

In [9]:
dataset.shape

(7613, 13)

In [10]:
def datapreporsesing(data,store):
    
    for i in range(len(data)):
        review = re.sub('[^a-zA-Z]',' ',str(data['text'][i]))
        review = review.lower()
        review = review.split()
        review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
        review = ' '.join(review)
        store.append(review)

In [11]:
datapreporsesing(dataset,corpusTrain)
datapreporsesing(df,corpusTest)

In [12]:
len(corpusTrain)

7613

In [13]:
corpusTrain[:10]

['deed reason earthquak may allah forgiv us',
 'forest fire near la rong sask canada',
 'resid ask shelter place notifi offic evacu shelter place order expect',
 'peopl receiv wildfir evacu order california',
 'got sent photo rubi alaska smoke wildfir pour school',
 'rockyfir updat california hwi close direct due lake counti fire cafir wildfir',
 'flood disast heavi rain caus flash flood street manit colorado spring area',
 'top hill see fire wood',
 'emerg evacu happen build across street',
 'afraid tornado come area']

In [14]:
corpusTest[100:110]

['brooo got annihil http co ur qkqg wf',
 'albertbr probabl annihil need dd',
 'gmcr long rgreen mountain red mountain stock annihil hour',
 'pleas sign amp rt save saltriverwildhors http co gb ispiarp http co bx l inc',
 'alli plan annihil german peopl http co ruhxglo q http co hbupkzwdwq loui nizer interest',
 'pleas share sign petit save wild hors arizona http co tssxphufe',
 'u nation park servic tonto nation forest stop annihil salt river wild hors http co latvr rzck via chang',
 'new soul punish annihil http co cmnv vyfcq',
 'latest updat salt river wild hors round http co wjscdvcevh via chang',
 'u nation park servic tonto nation forest stop annihil salt river wild hors http co w rhtuey via chang']

In [15]:
oneHotTrain = [one_hot(i,vocSize) for i in corpusTrain]
oneHotTest = [one_hot(i,vocSize) for i in corpusTest]

In [16]:
oneHotTrain[:10]

[[4942, 975, 2173, 4024, 1885, 1278, 1297],
 [4141, 1282, 4520, 3066, 1394, 1668, 3626],
 [2694, 3272, 720, 4925, 818, 3377, 282, 720, 4925, 850, 2720],
 [3364, 200, 883, 282, 850, 2713],
 [2249, 3330, 3176, 3075, 733, 1665, 883, 3602, 3831],
 [1561, 1389, 2713, 39, 4768, 88, 830, 1625, 4664, 1282, 4858, 883],
 [1676, 2711, 258, 926, 1356, 2989, 1676, 4234, 1815, 1144, 3037, 4390],
 [2451, 3897, 2035, 1282, 3214],
 [498, 282, 1139, 2118, 2493, 4234],
 [3143, 2661, 1488, 4390]]

In [17]:
oneHotTest[100:110]

[[2931, 2249, 652, 4321, 1436, 2663, 2167, 4626],
 [182, 3229, 652, 1312, 4953],
 [223, 2009, 2907, 3700, 1481, 3700, 2572, 652, 1616],
 [3233,
  1299,
  2187,
  738,
  3662,
  2543,
  4321,
  1436,
  1889,
  3537,
  4321,
  1436,
  4144,
  1646,
  1760],
 [3746,
  4223,
  652,
  1621,
  3364,
  4321,
  1436,
  3073,
  3231,
  4321,
  1436,
  2671,
  235,
  1966,
  3050],
 [3233, 3327, 1299, 1842, 3662, 1103, 1168, 4238, 4321, 1436, 1962],
 [3001,
  3664,
  1024,
  3034,
  3061,
  3664,
  4141,
  3043,
  652,
  497,
  4454,
  1103,
  1168,
  4321,
  1436,
  2886,
  2973,
  3656,
  216],
 [953, 4571, 2611, 652, 4321, 1436, 1475, 2687],
 [3817, 1389, 497, 4454, 1103, 1168, 567, 4321, 1436, 1590, 3656, 216],
 [3001,
  3664,
  1024,
  3034,
  3061,
  3664,
  4141,
  3043,
  652,
  497,
  4454,
  1103,
  1168,
  4321,
  1436,
  2881,
  450,
  3656,
  216]]

In [18]:

TrainLen = max(len(i) for i in oneHotTrain)
TestLen = max(len(i) for i in oneHotTest)
senLen = max(TrainLen,TestLen)+1

In [19]:
embededTrain = pad_sequences(oneHotTrain,maxlen=senLen,padding='pre')
embededTest = pad_sequences(oneHotTest,maxlen=senLen,padding='pre')
print(embededTrain.shape,embededTest.shape)

(7613, 28) (3263, 28)

# Creating Model

In [20]:
embeddingVectorFeature = 50
model=Sequential()
model.add(Embedding(vocSize,embeddingVectorFeature,input_length=senLen))
model.add(LSTM(100))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 28, 50)            250000

 lstm (LSTM)                 (None, 100)               60400

 dense (Dense)               (None, 1)                 101

=================================================================
Total params: 310,501
Trainable params: 310,501
Non-trainable params: 0
_________________________________________________________________
None

from tensorflow.keras.layers import Dropout
## Creating model
embedding_vector_features=50
model=Sequential()
model.add(Embedding(vocSize,embedding_vector_features,input_length=txtLen))
model.add(Dropout(0.3))
model.add(LSTM(100))
model.add(Dropout(0.3))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [21]:
xFinal = np.array(embededTrain)
yFinal = np.array(y)

In [22]:
xFinal.shape

(7613, 28)

In [23]:
yFinal.shape

(7613,)

In [24]:

xTrain,xTest,yTrain,yTest = train_test_split(xFinal,yFinal,test_size=0.2,random_state=42)

In [25]:
model.fit(xTrain,yTrain,validation_data=(xTest,yTest),epochs=100,batch_size=64)

Epoch 1/10
96/96 [==============================] - 4s 29ms/step - loss: 0.5942 - accuracy: 0.6711 - val_loss: 0.4662 - val_accuracy: 0.7800
Epoch 2/10
96/96 [==============================] - 2s 23ms/step - loss: 0.3759 - accuracy: 0.8388 - val_loss: 0.5024 - val_accuracy: 0.7774
Epoch 3/10
96/96 [==============================] - 2s 21ms/step - loss: 0.2763 - accuracy: 0.8880 - val_loss: 0.6057 - val_accuracy: 0.7374
Epoch 4/10
96/96 [==============================] - 2s 19ms/step - loss: 0.2124 - accuracy: 0.9192 - val_loss: 0.7078 - val_accuracy: 0.7354
Epoch 5/10
96/96 [==============================] - 2s 19ms/step - loss: 0.1554 - accuracy: 0.9443 - val_loss: 0.9196 - val_accuracy: 0.7288
Epoch 6/10
96/96 [==============================] - 2s 22ms/step - loss: 0.1093 - accuracy: 0.9619 - val_loss: 1.1171 - val_accuracy: 0.7374
Epoch 7/10
96/96 [==============================] - 2s 22ms/step - loss: 0.0802 - accuracy: 0.9744 - val_loss: 1.1553 - val_accuracy: 0.7236
Epoch 8/10
96/96 [==============================] - 2s 21ms/step - loss: 0.0560 - accuracy: 0.9829 - val_loss: 1.3342 - val_accuracy: 0.7196
Epoch 9/10
96/96 [==============================] - 2s 20ms/step - loss: 0.0435 - accuracy: 0.9870 - val_loss: 1.4372 - val_accuracy: 0.7203
Epoch 10/10
96/96 [==============================] - 2s 20ms/step - loss: 0.0418 - accuracy: 0.9882 - val_loss: 1.5076 - val_accuracy: 0.7203

In [26]:
yPred = model.predict(embededTest)

In [27]:
yPred = (yPred>0.5)

In [28]:
sop = pd.read_csv('sample_submission.csv')

In [29]:
sop.drop('target',axis=1,inplace=True)

In [30]:
sop['target'] = yPred

In [31]:
sop.to_csv('submission.csv',index=False)

In [34]:
model.save('model.h5')

In [37]:
sub = pd.read_csv('submission1.csv')

In [38]:
sub.head()

   id  target
0   0   False
1   2   False
2   3    True
3   9   False
4  11    True

In [39]:
numTarget = []
for i in sub['target']:
    if i:
        numTarget.append(1)
    else:
        numTarget.append(0)

In [40]:
sub['target'] = numTarget

In [41]:
sub.head()

   id  target
0   0       0
1   2       0
2   3       1
3   9       0
4  11       1

In [42]:
sub.to_csv('submission1.csv',index=False)